.Carousel {
    position: relative;
    display: flex;
    // justify-content: center;
    align-items: center;
    width: 600px;
    height: 400px;
    // overflow: hidden;

    .slide {
        width: 100%;
        height: 100%;
        border-radius: 0.5rem;
        box-shadow: 0px 0px 7px #666;

        &-hidden {
            display: none;
        }
    }

    .arrow {
        position: absolute;
        height: 2rem;
        width: 2rem;
        color: black;
        background-color: rgba(255, 255, 255, 0.5);
        padding: 0.2rem;
        border-radius: 50%;
        cursor: pointer;
        z-index: 1;
        user-select: none;
        filter: drop-shadow(0px 0px 5px #666);


        &-left {
            left: 1rem;
        }

        &-right {
            right: 1rem;
        }

        &:hover {
            background-color: rgba(255, 255, 255, 0.8);
        }
    }

    .indicators {
        display: flex;
        justify-content: center;
        width: 100%;
        position: absolute;
        bottom: 1rem;
        gap: 0.3rem;

        .indicator {
            width: 0.5rem;
            height: 0.5rem;
            border-radius: 50%;
            background-color: rgba(255, 255, 255, 0.5);
            cursor: pointer;
            border: none;

            &.active {
                background-color: rgba(255, 255, 255, 0.8);
            }

            &:hover {
                background-color: rgba(255, 255, 255, 0.7);
            }
        }
    }
}